/* Write your code here. */
.main-bg {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  display: flex;
  flex-direction: column;
}

.emojis-div {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
